body{
    background-color: rgb(198, 249, 249);
}

h1{
    font-size: 72px;
    color: black;
}

#contenedor-colores{
    background-color: black;
    border-radius: 10px;
}

#btn-start{
    margin: 3px;
    border-radius: 5px;
}

#puntaje{
    font-size: 24px;
}

.label-info{
    text-align: center;
    font-size: 80px;
    color: black;    
}

.color{
    height: 150px;
    border: black solid 2px ;
    margin: 3px;
    border-radius: 20px;
}

#rojo {
    background-color: rgb(255, 119, 119);
}

#amarillo {
    background-color: rgb(254, 254, 141);
}

#verde {
    background-color: rgb(151, 253, 151);
}

#azul {
    background-color: rgb(141, 141, 252);
}

